<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <title>Personal Project</title>
    <link rel="shortcut icon" href="img/index.ico" />
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <!--<link rel="stylesheet" href="css/header.css"/>-->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/vue.js"></script>

</head>
<body>
<header id="header"></header>
    <div class="container p-0" id="container">
        <!-- 特色服务-->
        <div class="server mt-5 pt-4 mb-4" id="plist">
            <div class="s-title">
                <a href="#"><img src="img/img12.png" alt=""/></a>
            </div>
            <div  class="row">
                <div v-for="p in server" class="col-md-6 col-sm-12 p-4">
                    <div>
                        <a :href="p.url">{{p.title}}</a>
                        <a href="#">【查看视频】</a>
                    </div>
                    <div class="d-flex justify-content-around">
                        <div class="p-2 pl-4">
                            <a :href="p.url"><img :src="p.pic" alt=""/></a>
                        </div>
                        <div>
                            <p class="pb-0 small p-2"><span>专业概述：</span> <span class="font-style">{{p.details}}</span>
                                <a :href="p.url">查看详情>></a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h6 class="mb-3 p-2 text-muted small">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination mb-0 justify-content-end" id="pagination">
                            <li class="page-item" :class="pno==0?'disabled':''"><a class="page-link bg-transparent" href="#" @click.prevent="getdata(cur-1)">上一页</a></li>
                            <li v-for="i in pageCount" :class="pno==i-1?'active':''"  class="page-item"><a :class="pno!=i-1?'bg-transparent':'border'" class="page-link" href="#" @click.prevent="getdata(i-1)">{{i}}</a></li>
                            <!--<li class="page-item active"><a class="page-link border" href="#">2</a></li>-->
                            <!--<li class="page-item"><a class="page-link bg-transparent" href="#">3</a></li>-->
                            <li class="page-item" :class="pno==pageCount-1?'disabled':''"><a class="page-link bg-transparent" :class="pno==pageCount-1?'disabled':''" href="#" @click.prevent="getdata(cur+1)">下一页</a></li>
                        </ul>
                    </nav>
                </h6>
            </div>
        </div>
        <!-- 广告-->
        <div class="scroll pb-4">
            <img src="img/img15.jpg" alt="">
        </div>
        <!-- 图像 -->
        <div class="map-section">
            <img src="img/img16.jpg" alt="" usemap="Map">
            <map name="Map">
                <area shape="rect" coords="50,3,335,245" href="#" alt="">
                <area shape="rect" coords="658,21,933,265" href="#" alt="">
                <area shape="rect" coords="350,258,636,502" href="#" alt="">
            </map>
        </div>
        <!--学员风采-->
        <div class="student ">
            <div class="s-title">
                <a href="#"><img src="img/img18.png" alt=""/></a>
            </div>
            <div class="pt-3 m-auto"><img src="img/img20.png" alt=""/></div>
            <div class="row p-0 m-0" id="slist">
                <div class="col-md-4 pt-3" v-for="p in student">
                    <div>
                        <a :href="p.url" v-text="p.title"></a>
                    </div>
                    <div class="pl-4 pt-2">
                        <a :href="p.url"><img :src="p.pic" alt="" class="w-100"/></a>
                    </div>
                </div>
            </div>
            <div class="p-4 text-center">
                <a href="#"><img src="img/img22.png" alt="" class="w-100"/></a>
            </div>
        </div>
        <!--权威机构-->
        <div class="row border border-danger mt-4 mb-4" id="qwjg">
            <div class="col-md-1 p-0 m-0"><img src="img/img23.jpg" alt=""/></div>
            <div class="col-md-11 p-0 m-0">
                <ul class="d-flex list-unstyled" id="de">
                    <li class="" v-for="p in authority"><a :href="p.url"><img :src="p.pic" alt=""/></a></li>
                </ul>
            </div>
        </div>
        <!--环境介绍-->
        <div class="row environment">
            <div class="en-title">
                <a href="#">查看更多>></a>
            </div>
            <div class="col-md-5 mt-4 lf">
                <p>成都上善佳餐饮管理有限公司（上善佳美食培训），座落于世界文化遗产地、国家5A级景区四川省成都市都江堰青城山风景区,紧邻青城山山门。地理位置优越、交通便捷，学习环境优雅，公司于2013年正式注册，并开始全面专业培训成都特色美食、名小吃、川菜、火锅、等特色餐饮。依托在本行业积累数十年的餐饮技术、厨师资源，培训数百种四川本地特色的小吃、美食、火锅、川菜等。每种项目都拥有独特的秘方，这些项目在四川、乃至全国都证明拥有广阔的市场。我公司专注做创业培训和技术转让，帮助那些在进行餐饮创业过程中所遇到的技术及管理等问题进行专业指导。‍‍
                    <a href="#">查看详情>></a></p>
            </div>
            <div class="col-md-7 mt-4 lr">
                <img src="img/hj_b3.jpg" alt=""/>
            </div>
            <div class="w-100 mt-3" id="environment">
                <img src="img/hover-prev.png" alt="" id="prev" class="disabled float-left"/>
                <div class="d-inline-block">
                    <ul class="list-unstyled d-flex" id="elist">
                        <li v-for="p in environment"><a :href="p.url"><img :src="p.pic" alt=""/></a><p class="text-center small" v-text="p.title"></p></li>
                    </ul>
                </div>
                <img src="img/hover-next.png" alt="" id="next" class="float-right"/>
            </div>
        </div>
        <!--友情链接 -->
        <div class="link pt-3 pb-3">
            <div class="link-title"></div>
            <div class="link-content p-4">
                <ul class="list-unstyled d-flex justify-content-around">
                    <li v-for="p in link"><a :href="p.url"><img :src="p.pic" alt=""/></a></li>
                </ul>
            </div>
        </div>
    </div>
<footer id="footer"></footer>
<script src="js/index.js"></script>
<script src="js/header.js"></script>
<script src="js/footer.js"></script>

</body>
</html>